.main-theme-padding {
  max-width: 1366px;
  width: 1366px;
  padding: 0 287px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .main-theme-padding {
    padding: 0 40px;
    width: 100%;
  }
}

@media screen and(max-width: 1024px) {
  .main-theme-padding {
    padding: 0 20px;
  }
}
